.filter-container {
    /* margin: 10px; */
    box-shadow: lightgray 1px 1px 1px 1px;
    padding: 10px;
    padding-right: 20px;
}
ul {
    list-style-type: none;
    margin-top: 3px;
}
li {
    list-style-type: none;
}
.checkbox {
    white-space: nowrap;
    cursor: pointer;
}
.expand-collapse-icons { 
    display: block;
    float: right;
}
.parent-filter {
    font-weight: bold;
}
.filter {
    cursor: pointer;
}
.filter:hover {
    color: #2196F3;
}