@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.search-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-family: Roboto;
}

.query-container {
    display: flex;
    background-color: #f5f5f5;
}

.search-filter {

}

.filters-and-results {
    display: flex;
    flex-direction: row;
    /* background-color: #f5f5f5; */
}

.applyButton {
    float: right;
}