.filter-container {
    margin: 10px;
    box-shadow: lightgray 1px 1px 1px 1px;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin-top: 3px;
}
li {
    list-style-type: none;
}

.checkbox {
    white-space: nowrap;
}

.expand-collapse-icons { 
    font-size: 20px;
    vertical-align: bottom;
}

.parent-filter {
    cursor: pointer;
    font-weight: bold;

}